<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Recuperação de Informação Sorria </title>
  <link rel="stylesheet" href="../static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="search__container">
    <p class="search__title">
        Recuperação de informação Revista Sorria
    </p>
	<form action="{{url_for('predict')}}" method="POST">
    <input class="search__input" type="text" placeholder="Pesquise aqui :)", name="message">
</div>

<div class="credits__container">
    <p class="credits__text">Revista Sorria - Publicadora Mol</p>
</div>
<!-- partial -->
  
</body>
</html>

